<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About-BlushingBeauty</title>
    <style>

        h3{
           background-color:orange;
        }
        h4{
           background-color:Tomato;
        }
        h2{
        color: blue;
        }
        h1{
            text-align:center;

        }
        p{
            text-align: justify;
            font-size:20px;
            color: red;

        }
        p.a1{
            font-size:22px;
            font-weight:bold;
        }
        li{
            font-size:20px;
            font-weight:bold;
        }

        p.b{
            font-size:18px
        }
    </style>
</head>
<body  style="background-color:#ffe6e6;>

<div class="container-fluid">
    <center><h1>Welcome Beauties</h1></center>
    <div class="imgcontainer">
        <img src="{%static "images/aboutuslogo.jpg" %}" class="float-center" alt="Paris" width="330" height="236">

        <img src="{%static "images/about.jpg" %}" class="float-left" alt="Paris" width="330" height="236">

        <img src="{%static "images/aboutuslogo.jpg" %}" class="float-right" alt="Paris" width="330" height="236">

        <img src="{%static "images/about.jpg" %}" class="float-right" alt="Paris" width="330" height="236">
  </div>
</div>
<div>
    <h2>Blushing Beauty</h2>
<p><h4>We gives you best Customize product and the product is the natural product .</h4></p>


    <h2>Beauty Gives you confidence?</h2>
<p><h4>Shallow breathing manifests itself as tension in your face, throat, even shoulders.
    On the other hand, when you take deep, slow breaths, you look and feel more at ease in your body.
    So take a second, enjoy the photo, and breathe.
</h4></p>
    <h2>Cosmatic products are good or not?</h2>
<p><h4>LISINE COSMETICS has been creating and distributing cosmetics for the professional beautician for more than 45 years.
    Innovative products for professional care and treatment with excellent value for money.
    Our make-up and skincare products for all types of skin are used and offered in more than 350 beauty institutes in Belgium.
    Currently, our network is expanding all over Europe and we are building close relationships with the beauty salons we
    work with. LISINE believes that all women can be beautiful.
    Thanks to the values and principles we use, we let your inner beauty shine.</h4></p>


    <h2>What is serum?</h2>
<p><h4>If you think of your nightly skin care routine as a three course meal,
    serum is kind of like the main course. After kicking things off with an appetizer (aka cleansing your face),<br>
    and before treating yourself to dessert (aka a nourishing moisturizer),
    you fill up on all the important nutrients (aka serum).<br>"Serums are skin care products that are designed to deliver high concentrations of specific active ingredients to the skin.
    There are many different types of serums on the market that perform different jobs, ranging from hydration to skin brightening,"
    said Dr. Joshua Zeichner,board-certified dermatologist and director of cosmetic and clinical research at Mount Sinai Hospital's department of dermatology.<br>
    Most often, serums are clear, gel-based or liquid, and they tend to be less thick than a moisturizer. They’re typically applied before moisturizers to help lock in moisture.
    “Often, a serum is able to hydrate more effectively than even the heaviest creams. The molecules are able to truly penetrate the skin and hydrate on the deepest level,
    while the heavier creams more so sit on those top layers. Hydrating serums do not necessarily replace your moisturizer,
    but can boost the hydrating effects of your moisturizer,” said celebrity esthetician Karee Hays.</h4></p>

<h2>Serum benefits?</h2>
<p><h4>“In general, serums contain topical antioxidants including vitamin A, C and E. They also contain topical retinols and ingredients that even out skin tone.
    When layered underneath moisturizers, serums act as targeted treatment for wrinkles, pigmentation and redness,”
    said Dr. Angela J. Lamb, a board-certified dermatologist and associate professor at the Icahn School of Medicine at Mount Sinai's department of dermatology. </h4>
            <h3>But what type of serums should you look for specifically?</h3>
    <h4> key is to look for serums that deliver a ton of botanicals, antioxidants and hydration (water!) — they can deliver a concentrated dose of nutrients,
    and when applied on just-cleaned skin, the serum will penetrate more deeply," said Dr. Craig Kraffert, board-certified dermatologist.
    Since the ingredients in serums can be pretty potent, consider any potential skin sensitivity before trying a new product.
    "The active ingredient(s) in serums tend to be more concentrated and can occasionally cause irritation and dryness in those who have sensitive skin.
    It’s a good idea to layer a more substantial moisturizer with the serum if your skin tends to be on the sensitive or dry side,"
    said board-certified dermatologist and cosmetic surgeon in New York City Dr. Fran Cook-Bolden.
   </h4></p>
<h2>How to Use</h2>
<p><h4>Everyone's skin is different, but on average, you should give it about seven weeks to see how your skin responds to a new serum routine.
    Depending on the serum and the current state of your skin, you might even see initial results — like slightly more hydrated skin — in just a few days,
    according to Kraffert. Generally, you should use a serum all over your face and neck twice daily, once in the morning and then again in the evening,
    before applying your moisturizer if you want to get the most bang for your buck, according to Lamb.

</h4></p>
<p><h4>“There are lots of them out there, so choosing wisely is always a challenge. It’s best to assess the benefits of your current serum in order
    to guide your ongoing pursuit of products that are truly effective,” Kraffert said.
    <h3>Theses potent solutions are some of the most common serums available:</h3>

</h4></p>
<h2>MAKEUP</h2>
<ul>
    <li><h3>Makeup purpose:</h3></li></ul>
<p><h4>he same principle should hold true for the makeup that clients use on a daily basis to enhance their appearance
    without harming the skin. The skin is the largest organ of the body and is a protective shell that needs to breathe
    and be nourished and nurtured.
</h4></p>
<ul>
    <li><h3>Skin types who should use it:</h3></li></ul>
<p><h4>Normal skin is neither too oily nor too dry. It has balanced sebum production and good blood circulation.
        Oily skin is characterized by a greasy appearance.
        This skin type is prone to acne breakouts. Oily skin is the result of excess sebum production.
        Dry skin is determined by flaky and rough texture. It can at times feel tight and cause irritation.</h4></p>
</div>

</body>
</html>